/* start design helpers */

/* !!!!!!!!!!!!!!!!!!!! */
/* LAYOUT HELPERS */
/* !!!!!!!!!!!!!!!!!!!! */

/* These are provided here to give you a minimum starting point for a layout */

#container {
  padding: 1em;
  transition: filter 1s;
}

#container,
body {
  background: linear-gradient(170deg, rgba(102, 9, 121, 1) 20%, rgba(96, 0, 255, 1) 80%);
  background-color: rgb(96, 0, 255);
  background-repeat: no-repeat;
  background-position: center -50vh;
  background-size: calc(100% + 100vw) 200vh;
}

#main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.item {
  flex-grow: 1;
  flex-basis: 30%;

  box-sizing: border-box;

  min-width: 300px;
  max-width: 800px;

  /* visual helper */
  /* border: 1px dotted pink; */
}

body {
  color: #ececec;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

h1 > a {
  text-decoration: none;
  color: #ececec;
}

h2 {
  text-align: center;
  margin: 0;
  margin: 0.5rem 0 0.5rem 0;
}

h3 {
  text-align: center;
  margin: 2px;
  color: grey;
  font-size: 1em;
}

.data li {
  font-size: 1.1em;
  list-style: none;
  margin-bottom: 0.5em;
}

.data ul {
  padding: 0;
}

.data {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  background: #fffffff5;
  color: rgb(24, 24, 24);
  display: block;

  padding: 1em 1em 2em 1em;
  min-height: 250px;
  /* visual helper */
  /* border: 1px dotted blueviolet; */
  box-shadow: 0px 5px 10px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: box-shadow 0.15s, transform 0.15s;
  cursor: pointer;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.more_data {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  background: #ffffff;
  color: rgb(24, 24, 24);
  display: block;

  padding: 1em 1em 2em 1em;
  min-height: 250px;
  box-shadow: 0px 5px 10px;
  border-radius: 10px;
  margin: 2em;
  animation: opac 0.5s;
}

.data:hover {
  box-shadow: 0px 7px 12px;
  transform: translateY(-2px);
}

#searchbox {
  flex: 1;
}

#limit {
  width: 5em;
}

.inputrer {
  font-size: 1em;
  border-radius: 1em;
}

input.inputrer {
  padding-left: 1em;
}

.data:active {
  box-shadow: 0px 0px 1px;
  transform: translateY(1px);
}

#arrow {
  display: inline-block;
  transition: transform 0.2s;
}

#order_check {
  display: none;
}

#data_man {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;

}

@media (max-width:700px) {
  #data_man {
    justify-content: center;
  }

  #data_man>div {
    flex-basis: 100%;
  }
}

#order_check+label {
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

#order_check:checked+label>#arrow {
  transform: rotateZ(180deg);
}

button {
  background: none;
  border: solid 1px #ececec;
  color: #ececec;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  transition: background-color 0.1s;
  border-radius: 1em;
}

button:hover {
  background-color: #ececec22;
}

button:active {
  background-color: #ececec44;
}

#year_picker,
#cat_picker {
  flex: 1;
}

button.inputrer {
  flex: 1;
  min-width: fit-content;
}

#data_man>div {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

#more_data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ececec22;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100vh);
  transition: transform 1s;
  cursor: pointer;
}

#exit_data {
  position: absolute;
  top: 2em;
  left: 2em;
  width: 50px;
}

footer {
  margin: 4em 0 4em 0;
}

a {
  color: #ececec;
}

.form_meta {
  display: flex;
  gap: 1em;
}

.form_meta > * {
  flex:1;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact_form > textarea {
  height: 12em;
}

.form_futton_holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form > textarea, .contact_form input {
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
}

.form_futton_holder > button {
  width: 10em;
  height: 2em;
  font-size: 1em;
}